<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.discussio.resourc.mapper.auto.FeedbackModuleMapper">
    <resultMap id="BaseResultMap" type="com.discussio.resourc.model.auto.FeedbackModule">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="module_id" jdbcType="BIGINT" property="moduleId" />
        <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
        <result column="module_type" jdbcType="VARCHAR" property="moduleType" />
        <result column="parent_module_id" jdbcType="VARCHAR" property="parentModuleId" />
        <result column="sort_order" jdbcType="VARCHAR" property="sortOrder" />
        <result column="is_active" jdbcType="INTEGER" property="isActive" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    </resultMap>

    <select id="selectFeedbackModuleById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM feedback_module WHERE id = #{id}
    </select>

    <select id="selectFeedbackModuleListByModuleType" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM feedback_module WHERE module_type = #{moduleType}
    </select>
</mapper>
