<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.discussio.resourc.mapper.auto.SystemSettingsMapper">
    <resultMap id="BaseResultMap" type="com.discussio.resourc.model.auto.SystemSettings">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="settings_id" jdbcType="BIGINT" property="settingsId" />
        <result column="system_name" jdbcType="VARCHAR" property="systemName" />
        <result column="page_size" jdbcType="INTEGER" property="pageSize" />
        <result column="system_logo" jdbcType="VARCHAR" property="systemLogo" />
        <result column="password_min_length" jdbcType="INTEGER" property="passwordMinLength" />
        <result column="login_lock_count" jdbcType="INTEGER" property="loginLockCount" />
        <result column="course_type" jdbcType="VARCHAR" property="courseType" />
        <result column="learning_mode" jdbcType="VARCHAR" property="learningMode" />
        <result column="exam_time_limit" jdbcType="VARCHAR" property="examTimeLimit" />
        <result column="video_quality" jdbcType="VARCHAR" property="videoQuality" />
        <result column="question_bank_type" jdbcType="VARCHAR" property="questionBankType" />
        <result column="update_frequency" jdbcType="VARCHAR" property="updateFrequency" />
        <result column="certificate_type" jdbcType="VARCHAR" property="certificateType" />
        <result column="supported_languages" jdbcType="VARCHAR" property="supportedLanguages" />
        <result column="customer_service_email" jdbcType="VARCHAR" property="customerServiceEmail" />
        <result column="system_version" jdbcType="VARCHAR" property="systemVersion" />
    </resultMap>

    <select id="selectSystemSettingsById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM system_settings WHERE id = #{id}
    </select>
</mapper>
